* {
  margin: 0;
}
.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: lightgray;
  margin: 0 auto;
}
button {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  & h1 {
    width: 100%;
  }
  & img {
    width: 30%;
    margin: -0.6rem 0 0 -1rem;
  }
  .movie-intro__main {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

th{
  text-align: center;
}
